@import url(./ingame/scoreboard.css);
@import url(./ingame/gameArea.css);
@import url(./ingame/winner.css);

.ingame__header {
    display: flex;
    justify-content: space-between;
}

.ingame__header button {
    width: 6.75rem;
    height: 2.4375rem;
    margin: 3.19rem 1.25rem 3.13rem 1.25rem;

    border-radius: 1.25rem;
    background: var(--secondary-color);
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    border: none;
    box-shadow: none;
}

.ingame__header img {
    margin-top: 3.13rem;
}

.ingame__header__logo {
    width: 2.5rem;
    height: 2.5rem;
}

.ingame__main {
    display: flex;
    flex-direction: column;
}