.container {
    height: 305px;
    width: 335;
    margin-top: 203px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*gap: 4.9375em;*/
}

.main {
    height: 174px;
    width: 335px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main, button {
    text-align: start;
    border-radius: 20px;
    height: 72px;
    padding-left: 10px;
    border: 3px solid var(--black);
    box-shadow: 0px 12px var(--black);

}

.main__button-play {
    background-color: var(--yellow);
    background-image: url(/assets/images/player-vs-player.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.main__button-rules {
    background-color: var(--white);
}

